.chart {
    flex: 4;
    -webkit-box-shadow: 12px 12px 11px -7px rgba(199, 197, 199, 1);
    -moz-box-shadow: 12px 12px 11px -7px rgba(199, 197, 199, 1);
    box-shadow: 12px 12px 11px -7px rgba(199, 197, 199, 1);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}